# Ignore everything
Assets/_TerrainAutoUpgrade
Assets/BlackantMasterStudio
Assets/DreamForestTree
Assets/Fallen Tree Barrier - FREE
Assets/Flooded_Grounds
Assets/FreeMountain
Assets/GrassFlowers
Assets/klen
Assets/Rocks and Boulders 2
Assets/TextMesh Pro
Assets/TheTalesFactory
Assets/Toby Fredson
Assets/Unity-Standard-Assets-master
Assets/URDF/
Assets/Yughues Free Palm Trees
Packages/
Logs/
Packages/
UserSettings/
Library/
ProjectSettings/
Temp/
*.meta



